*{
    margin: 0;
    padding:0;
}
.container{
    margin: 0 auto;
    width: 700px;
    border: thin solid rgba(163, 163, 163, 0.699);
    padding:50px;
    border-radius: 6px;
    margin-top: 30px;
}
.header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: thin solid rgba(163, 163, 163, 0.699);
}
.header h1,confirmation-item-name{
    font-weight: 300;
}
form,.wrap{
    margin-top: 40px;
}
.questionnaire-form-item-name,.confirmation-item-name{
    font-weight: 300;
    padding-left: 15px;
    border-left: 3px solid rgba(163, 163, 163, 0.699);
}
.questionnaire-form-item input{
    width: 70%;
    margin-left:auto ;
    border: thin solid rgba(163, 163, 163, 0.699);
    border-radius: 5px;
}
.questionnaire-form-item,.confirmation-item{
    margin-bottom: 40px;
}
.questionnaire-form-item{
    display: flex;
}
.confirmation-item{
    display: flex;
    justify-content:space-between;
}
.confirmation-item-detail{
    margin-right: 30px;
}
#name-feedback{
    display: none;
    color: red;
}
.btn{
    display: block;
    width: 170px;
    padding: 5px;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
}