main{
    display: flex;
    color: white;
    font-size: 25px;
}


/*color*/
.p_orange{
    background-color: #FDAE3D;
}
.brown{
    background-color:#9F601C;
}
.blue{
    background-color: #2BABE1;
}
.grey{
    background-color:#B5B2B5;
}


/*box1*/
.box1{
    width: 325px;
    margin-right: 35px;
}
.box1 div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstLine_box{
    height: 40px;
    margin-bottom: 10px;
}
.secondLine_box{
    margin-bottom:10px;
}
.secondLine_contents1{
    width: 235px;
    height: 210px;
    display: flex;
}
.secondLine_contents2{
    background-color:#F7941F;
    width: 210px;
    height: 210px;
}
.thirdLine_box{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.thirdLine_contents{
    width: 110px;
    height:85px;
}
.fourthLine_box{
    height: 55px;
}


/*box2*/
.box2{
    width: 190px;
}
.box2 div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2 div{
    margin-bottom:10px;
}
.firstLine_box2{
    height: 35px;
}
.secondLine_box2{
    height: 150px;
}
.third_box2{
    height: 50px;
}
.fourthLine_box2{
    height:35px;
}


