@media screen and (min-width:752px) {

  body {
    width: 100%;
  }

  header {
    position: absolute;
    width: 100%;
  }

  .header__wrapper {
    display: flex;
    width: 1360px;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;

    .header__left img {
      width: 212px;
      height: 67px;
      margin-left: 180px;

    }

    .header__right {
      margin-left: 180px;


      & ul {
        display: flex;
        
        li {
          color: #FFFFFF;
        }

        & li:nth-child(2) {
          padding: 0 72px 0 50px;

        }
      }
    }
  }


  .top {

    background-image: url(./img/img30.png);
    background-position: center;
    background-size: cover;
    height: 1000px;

    &__official {
      position: absolute;
      top: 40%;

      & img {
        width: 612px;
        height: 190px;
      }
    }
  }


  main {
    width: 100%;
    height: 100%;
    
    // height: 600px;
    
  }

  .Whats_New__container {
    height: 600px;
    background: #DAEAFD;
    position: relative;

  }

  .main {

    &__title {
      text-align: center;
      font-size: 35px;
      color: #2BC1F8;
      padding-top: 3%;
    }

    &__img {
      position: absolute;
      top: 25%;
      left: 20%;
      display: flex;
      justify-content: space-between;

      img {
        width: 330px;
        height: 330px;
      }
    }

    #notice {
      position: relative;
      height: 80%;

      .date {
        position: absolute;
        left: 50%;
        top: 11%;

        &__tour {
          margin-left: 20%;
          padding: 7px 14px;
          background-color: #5EA709;
          font-family: "Lato";
          font-size: 15px;
          color: #FFFFFF;

        }

        &__news {
          margin: 30px 0;

          font-size: 20px;
          font-family: 'Kozuka Gothic Pr6N';
        }

        &__day {
          font-family: "Lato";
          font-size: 18px;
          color: #707070;
        }
      }

      .view__button {
        position: absolute;
        left: 69%;
        top: 75%;
        background-color: #2BC1F8;
        padding: 8px 33px;
        font-size: 20px;
        font-family: "Lato";
        color: #FFFFFF;
      }
    }
  }

  #instagram {
    width: 100%;
    height: 871px;
    background-image: url(./img/insta_bg.png);
    background-position: center;
    background-size: cover;
    



    .instagram {
      position: relative;



      &__title {
        position: absolute;
        left: 45%;
        font-size: 35px;
        color: #FFFFFF;
        margin-top: 59px;
      
      }

      &__container {
        display: grid;
        justify-content: center;
        grid-template-columns: 262px 262px 262px;
        padding-top: 12%;
        gap: 8% 3%;
      }

      &__item img {
        width: 262px;
        height: 262px;

      }

    }
  }

  #youtube {
    width: 100%;
    height: 566px;
    position: relative;
    background-color: #DAEAFD;



    .youtube {


      .youtube__img {
        width: 269px;
        height: 60px;
        position: absolute;
        left: 41%;
        top: 45%;

      }


      &__container {
        display: flex;
        justify-content: center;

      }

      &__item img {
        width: 411px;
        height: 411px;
        margin-top: 20%;
      }
    }
  }

  #profile {
    width: 100%;
    height: 406px;
    position: relative;


    .profile__bg img {
      width: 100%;
      height: 406px;
    }

    .profile {
      font-size: 35px;
      font-family: "Lora";
      color: #FFFFFF;


      &__title {
        position: absolute;
        top: 25%;
        left: 30%;
      }

      &__subtitle {
        position: absolute;
        top: 45%;
        left: 22.3%;
        font-family: "Meiryo";
        font-size: 35px;

      }

      &__view__button {
        position: absolute;
        top: 65%;
        left: 27%;
        font-size: 20px;
        font-family: "Lato";
        color: #FFFFFF;
        background-color: #2BC1F8;
        padding: 8px 33px;
      }
    }

  }


  #powered_by {
    width: 100%;
    height: 279px;
    position: relative;
    background-color: #2BC1F8;


    .powered_by {
      position: absolute;
      top: 16%;
      left: 44%;
      color: #FFFFFF;
      font-family: "Lora";
      font-size: 35px;

      &__container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0 8%;
      }

      &__item {
        margin: 10% auto;

        img {
          width: 246px;
          height: 90px;
          background-color: #FFFFFF;
        }
      }
    }
  }

  #footer {
    width: 100%;
    height: 669px;

    background-image: url(./img/insta_bg.png);
    background-position: center;
    background-size: cover;
    position: relative;


    .footer {

      &__title {
        color: #FFFFFF;
        font-size: 49px;
        font-family: "Poiret One";
        position: absolute;
        left: 39%;
        top: 16%;
      }

      &__subtitle {
        color: #FFFFFF;
        font-size: 24px;
        font-family: "Alex Brush";
        position: absolute;
        left: 45%;
        top: 26%;
      }

      &__nav {
        width: 100%;
        position: absolute;
        top: 40%;
        display: flex;
        justify-content: center;
      }

      &__item {
        color: #FFFFFF;
        padding: 0 4%;

      }

      &__container {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 46%;
        top: 60%;

      }

      &__icon {
        padding: 0 8%;

        img {
          width: 37px;
          height: 30px;
          padding: 0 8%;

        }
      }
    }

  }

}



/****************************************************
  SP対応
  ****************************************************/

@media screen and (max-width:751px) {
  body {
    width: 100%;
  }

  header {
    position: absolute;
    width: 750px;
  }

  .header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);

    .header__left img {
      width: 212px;
      height: 67px;
      margin-left: 100px;
    }

    .header__right {
      margin-right: 180px;



      & ul {
        display: flex;
        display: none;

        li {
          color: #FFFFFF;
        }

        & li:nth-child(2) {
          padding: 0 72px 0 50px;

        }
      }
    }
  }


  .top {
    background-image: url(./img/img30.png);
    background-position: center;
    background-size: cover;
    width: 750px;
    height: 700px;


    &__official {
      position: absolute;
      top: 60%;

      & img {
        width: 80%;
        height: 190px;
      }
    }
  }

  .mobile-menu__btn { 
    position: absolute;
    cursor: pointer;
    display: flex;
    height: 71px;
    width: 71px;
    margin-left: 88%;
    margin-top: -2%;



    & span {
      display: inline-block;
      position: absolute;
      height: 4.5px;
      border-radius: 2px;
      background: #fff;
      width: 100%;

      &:nth-of-type(1) {
        top: 15px;

      }

      &:nth-of-type(2) {
        top: 38px;
      }

      &:nth-of-type(3) {
        top: 60px;
      }
    }


  }


  main {
    width: 100%;
    height: 100%;
    
    // height: 600px;
    
  } 

  .Whats_New__container {
    height: 1442px;
    width: 750px;
    background: #DAEAFD;
    position: relative;

  }


  .main {

    &__title {
      text-align: center;
      font-size: 40px;
      color: #2BC1F8;
      padding-top: 3%;
    }

    &__img {
      display: flex;
      justify-content: center;
      margin-top: 10%;

      img {
        width: 569px;
        height: 569px;
      }
    }

    #notice {
      position: relative;
      height: 80%;

      .date {
        position: absolute;
        left: 14%;
        top: 11%;

        &__tour {
          margin-left: 20%;
          padding: 7px 50px;
          background-color: #5EA709;
          font-family: "Lato";
          color: #FFFFFF;

        }

        &__news {
          margin: 30px 0;

          font-size: 28px;
          font-family: 'Kozuka Gothic Pr6N';
        }

        &__day {
          font-family: "Lato";
          font-size: 28px;
          color: #707070;
        }
      }

      .view__button {
        position: absolute;
        left: 40%;
        top: 50%;
        background-color: #2BC1F8;
        width: 351px;
        height: 81px;
        padding: 16px;
        text-align: center;
        font-size: 29px;
        font-family: "Lato";
        color: #FFFFFF;
      }
    }
  }

  #instagram {
    width: 100%;
    height: 1217px;
    background-image: url(./img/insta_bg.png);
    background-position: center;
    background-size: cover;
    



    .instagram {
      position: relative;



      &__title {
        position: absolute;
        left: 45%;
        font-size: 35px;
        color: #FFFFFF;
        margin-top: 59px;
      }

      &__container {
        display: grid;
        justify-content: center;
        grid-template-columns: 262px 262px;
        padding-top: 30%;
        gap: 8% 3%;
      }

      &__item img {
        width: 262px;
        height: 262px;

      }

    }
  }

  #youtube {
    width: 100%;
    height: 566px;
    position: relative;
    background-color: #DAEAFD;




    .youtube {


      .youtube__img {
        width: 269px;
        height: 60px;
        position: absolute;
        left: 41%;
        top: 45%;

      }


      &__container {
        display: flex;
        justify-content: center;

      }

      &__item img {
        width: 411px;
        height: 411px;
        margin-top: 20%;
      }
    }
  }

  #profile {
    width: 100%;
    height: 406px;
    position: relative;


    .profile__bg img {
      width: 100%;
      height: 406px;
    }

    .profile {
      font-size: 35px;
      font-family: "Lora";
      color: #FFFFFF;


      &__title {
        position: absolute;
        top: 25%;
        left: 30%;
      }

      &__subtitle {
        position: absolute;
        top: 45%;
        left: 22.3%;
        font-family: "Meiryo";
        font-size: 35px;

      }

      &__view__button {
        position: absolute;
        top: 65%;
        left: 27%;
        font-size: 20px;
        font-family: "Lato";
        color: #FFFFFF;
        background-color: #2BC1F8;
        padding: 8px 33px;
      }
    }

  }


  #powered_by {
    width: 100%;
    height: 279px;
    position: relative;
    background-color: #2BC1F8;


    .powered_by {
      position: absolute;
      top: 16%;
      left: 44%;
      color: #FFFFFF;
      font-family: "Lora";
      font-size: 35px;

      &__container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0 8%;
      }

      &__item {
        margin: 10% auto;

        img {
          width: 246px;
          height: 90px;
          background-color: #FFFFFF;
        }
      }
    }
  }

  #footer {
    width: 100%;
    height: 669px;

    background-image: url(./img/insta_bg.png);
    background-position: center;
    background-size: cover;
    position: relative;


    .footer {

      &__title {
        color: #FFFFFF;
        font-size: 49px;
        font-family: "Poiret One";
        position: absolute;
        left: 39%;
        top: 16%;
      }

      &__subtitle {
        color: #FFFFFF;
        font-size: 24px;
        font-family: "Alex Brush";
        position: absolute;
        left: 45%;
        top: 26%;
      }

      &__nav {
        width: 100%;
        position: absolute;
        top: 40%;
        display: flex;
        justify-content: center;
      }

      &__item {
        color: #FFFFFF;
        padding: 0 4%;

      }

      &__container {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 46%;
        top: 60%;

      }

      &__icon {
        padding: 0 8%;

        img {
          width: 37px;
          height: 30px;
          padding: 0 8%;

        }
      }
    }

  }

}
