body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.header {
  position: relative;

  img {
    width: 100%;
    height: 909px;
  }


  &__left {

    img {
      width: 212px;
      height: 67px;
      margin: 30px;
      position: absolute;
      top: 0;
      left: 10%;
      z-index: 9999;

      .text {
        width: 100px;
        height: 23px;
      }
    }
  }

  &__right {
    margin-top: 52px;
    position: absolute;
    top: 0;
    right: 15%;

    & ul {
      display: flex;

      li {
        color: #fff;
      }

      & li:nth-child(2) {
        padding: 0 72px 0 50px;

      }
    }

  }

  &__logo2 {
    position: absolute;
    top: 283px;


    & img {
      width: 612px;
      height: 190px;
    }
  }
}

.contents {
  width: 100%;
  height: 600px;
  background: rgb(204, 233, 242);
  position: relative;

  &__txt {
    text-align: center;
    font-size: 2.2em;
    color: #00d0ff;
     padding-top: 3%;
    }

  &__img {
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;
    justify-content: space-between;

    img {
      width: 330px;
      height: 330px;
    }
  }

  .notice{
    width: 100%;
    .tour{
      display: flex;
      
  
      &__news {
        padding-left: 30%;
      }
  
    }
  }

}