body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.header {
  position: relative;

  img {
    width: 100%;
    height: 909px;
  }


  &__left {

    img {
      width: 212px;
      height: 67px;
      margin: 30px;
      position: absolute;
      top: 0;
      left: 10%;
      z-index: 9999;

      .text {
        width: 100px;
        height: 23px;
      }
    }
  }

  &__right {
    margin-top: 52px;
    position: absolute;
    top: 0;
    right: 15%;

    & ul {
      display: flex;

      li {
        color: #FFFFFF;
      }

      & li:nth-child(2) {
        padding: 0 72px 0 50px;

      }
    }

  }

  &__official {
    position: absolute;
    top: 283px;


    & img {
      width: 612px;
      height: 190px;
    }
  }
}

main {
  
  height: 600px;
  background: #DAEAFD;
  position: relative;
}

.main {

  &__title {
    text-align: center;
    font-size: 2.2em;
    color: #2BC1F8;
     padding-top: 3%;
    }

  &__img {
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;
    justify-content: space-between;

    img {
      width: 330px;
      height: 330px;
    }
  }

  #notice {
    position: relative;
    height: 80%;

    .date {
      position: absolute;
      left: 50%;
      top: 11%;      

      &__tour {
        margin-left: 20%;
        padding: 7px 14px;
        background-color:#5EA709;
        font-family: "Lato";
        font-size: 15px;
        color: #FFFFFF;
        
      }

      &__news {
        margin: 30px 0;

        font-size:20px;
        font-family:'Kozuka Gothic Pr6N';
      }

      &__day {
        font-family: "Lato";
        font-size: 18px;
        color: #707070;
      }
    }

    .view__button {
      position: absolute;
      left: 69%;
      top: 75%;
      background-color: #2BC1F8;
      padding: 8px 33px;
      font-size: 20px;
      font-family: "Lato";
      color: #FFFFFF;
    }
  }
}

#instagram{
  width:100%;
  height:871px;
  background-image: url(./img/insta_bg.png);
  margin-top: 36px;

 

  .instagram {
    position: relative;
    
    

    &__title{
      position: absolute;
      left: 45%;
      font-size: 35px;
      color: #FFFFFF;
      margin-top: 59px;
    }

    &__container {
      display: grid;
      justify-content:center;
      grid-template-columns: 262px 262px 262px ;
      padding-top: 12%;
      gap: 8% 3%;
    }

    &__item img { 
      width: 262px;
      height: 262px;

    }

  }
}

#youtube {
  width: 100%;
  height: 566px;
  position: relative;
  background-color: #DAEAFD;



  .youtube{


    .youtube__img {
      width: 269px;
      height: 60px;
      position: absolute;
      left: 41%;
      top: 45%;

    }


    &__container {
      display: flex;
      justify-content: center;
      
    }
    &__item img{
      width: 411px;
      height: 411px;
      margin-top: 20%;
    }
  }
}

#profile {
  width: 100%;
  height: 406px;
  position: relative;


  .profile__bg img {
    width:100%;
  }

  .profile {
    font-size: 35px;
    font-family: "Lora";
    color: #FFFFFF;
    

    &__title {
      position: absolute;
      top: 25%;
      left: 30%;
    }

    &__subtitle {
      position: absolute;
      top: 45%;
      left: 22.3%;
      font-family: "Meiryo";
      font-size: 35px;

    }

    &__view__button {
      position: absolute;
      top:65%;
      left: 27%;
      font-size: 20px;
      font-family: "Lato";
      color: #FFFFFF;
      background-color: #2BC1F8;
      padding: 8px 33px;
    }
  }

}



