main{
    display: flex;
    color: #ffffff;
    font-size: 30px;
}

.l-main{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.l-box1{
    display: flex;
    height: 70px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.l-box2{
    display: flex; 
}

.c-box1{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
}

.s-box1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-box1:nth-child(1){
    height: 450px;
    width: 100%;
}

.s-box1:nth-child(2){
    height: 150px;
    margin: 10px 5px 0 0;
    flex-grow: 1;
}

.s-box1:nth-child(3){
    height: 150px;
    margin: 10px 0 0 5px;
    flex-grow: 1;
}

.s-box2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-box2{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.s-box2:nth-child(1){
    margin: 0 0 10px 0;
    height: 450px;
    width: 100%;
}

.s-box2:nth-child(2){
    height: 150px;
    width: 100%;
}

.l-box4{
    display: flex;
    height: 70px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.r-main{
    margin-left: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.r-box{
    margin: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-box:nth-child(1){
    height: 50px;
}

.r-box:nth-child(2){
    height: 350px;
}

.r-box:nth-child(6){
    height: 50px;
}

.clr1{
    background-color: #ffa500;
}

.clr2{
    background-color: #f4a460;
}

.clr3{
    background-color: #00bfff;
}

.clr4{
    background-color: #a9a9a9;
}

