body{
    font-size: 13px;
    margin:0 auto;
}
#main_confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0 40px;
    width: 300px;
    height: 300px;
    border-radius: 7px 7px;
    background-color: #e0e0e0;
}
#main_confirm p:nth-child(odd){
    margin-bottom: -5px;
    font-size: 15px;
    font-weight: bold;
}
#main_confirm p:nth-child(even){
    margin-bottom: 5px;
}
.main_confirm_result{
    width: 220px;
    height: 240px;
    margin-top: -10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 7px 7px;
    background-color: #fafafa;
}