@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 10px;
}
a{
    color: white;
    margin: 3px 5px;
    text-decoration: none;
}
h1{
    font-size:30px;
}
.line-left{
    border-left: 1px solid;
    padding-left: 5px;
}



.header-top{
    display: flex;
    padding: 10px;
    background-color: black;
}
.header-left{
    flex-grow: 3;
    margin-left: 50px;
    color: white;
    font-size: 7px;
}
.header-right{
    display: flex;
    flex-grow: 1;
}
.header-right2{
    display: flex;
    margin:  10px 0;
}
.header-main{
    display: flex;
    background-color: #dcdcdc;
}
.header-main2{
    background-color: dimgray;
    height: 30px;
    display: flex;
    justify-content: center;
    
}
.header-logo{
    height:50px;
    margin: 0 400px 0 100px;
}

.header-list1{
    display: flex;
    justify-content: space-around;
    width: 550px;
    background-color: black;
}
.header-li{
    padding-top: 3px;
    font-size: 5px;
}

.main-contents{
    height: 400px;
    text-align: center;
    padding-top: 100px;
    color: white;
    background-color: dimgray;
}
.main-contents2{
    background-color: whitesmoke;
    padding-bottom: 20px;
}
.next{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    background:linear-gradient(90deg, #ff9872, #ff4f02);
}
.main-contents-box{
    display: flex;
    justify-content: center;
}


.main-box-card{
    width: 20%;
    margin:0 5px 20px 5px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-text{
    text-align: center;
    margin: 30px 0;
}
span{
    color:red;   
    border-bottom: 1px solid red;
}

.contents1{
    display: flex;
    background-color: white;
    padding: 20px;
}

.left-contents{
    width: 50%;
    text-align: center;
}
.right-contents{
    width: 50%;
    
}

.text-box{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width:50%;
}

.contents2{
    color: white;
    background-color:black ;
    padding: 20px;
}

.title-box2{
    display: flex;
    justify-content: center;
}

.text-box2{
    display: flex;
    justify-content: center;
    color: black;
       
}

.text-card{
    background-color: white;
    margin: 10px;
    padding: 20px;
}

.contents3{
    display: flex;
    background-color: white;
    padding: 20px;
}

.graph-box{
    display: flex;
}
.graph-card{
    width: 50%;
}

.contents4{
    color: white;
    background-color: black;
    padding: 20px;
    
}
.title-box4{
    display: flex;
    justify-content: center;
}
.circle-box{
    text-align: center;
}

.contents5{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
}
.text-box3 p{
    background-color: white;
    margin: 5px 30px;
    padding: 10px;
}
.form-text{
    width: 75%;
}
.formpuote{
    margin: 5px;
    padding: 10px;
    opacity: 0.5;
}

.contents6{
    background-color: white;
    height: 200px;
    padding: 20px;
}
.title-box6{
    display: flex;
    justify-content: center;
}
.contentsbox{
    display: flex;
    justify-content: center;
}
.contentsbox div{
    
    padding: 5px;
    
}
.box-card{
    margin: 0 10px;
    border-radius: 2px;
}
.box-card p{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
.contents7{
    display: flex;
    color: white;
    background-color: black;
    padding: 20px;
}
.circle-item-box{
    display: flex;
    flex-wrap: wrap;
}
.circle-item{
    height: 100px;
    width: 50%;
    background-color: #333;
    border-radius: 50%;
}

.contents8{
    background-color: white;
    padding: 20px;
}

.title-box8{
    display: flex;
    justify-content: center;
}
.list{
    display: flex;
    justify-content:center;
}
.li{
    list-style: none;
    margin-right: 20px;
}
.slide-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.img{
    width: 25%;
}
.contents9{
    color: white;
    background-color:black ;
    padding: 20px;
}
.title-box9{
    display: flex;
    justify-content: center;
}
.contact-form{
    display: flex;
    justify-content: center;
}
.formbox{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}
.formitem{
    color: white;
    background-color: gray;
    width: 45%;
    margin:0 15px 10px 0;
}
textarea{
    width:95%;
    
}

.visual{
    background-color: white;
}
.contents10{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    background-color: black;
}
.title-box10{
    width: 40%;
    margin: 0 auto;
}
.big{
    border: initial;
    color: white;
    font-size: 50px;
}
.contents11{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.title-box11{
    display: flex;
    justify-content: center;
}
.box-contents{
    display: flex;
    justify-content: space-around;
}

.text{
    margin-right: 40px;
    padding: 5px;
    box-shadow: 1px 3px #d0cec6;
    background-color: whitesmoke;
    border-radius: 3px;
    text-align: left;
}
.li2{
    margin: 10px 50px 10px 0;
    list-style: none;
    opacity: 0.5;
}
footer{
    color: white;
    background-color: black;
    padding-top: 40px;
}
.footer-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.footer-left{
    width: 30%;
}
.footer-center{
    width: 30%;
}
.center-box{
    display: flex;
    flex-wrap: wrap;
}
.footer-right{
    width: 30%;
}
.links{
    width: 45%;
    font-size:10px;
}
.copy{
    text-align: center;
    height: 20px;
    background-color: dimgray;
}