body{
    font-size: 13px;
    width:1300px;
    margin:0 auto;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333333;
}
.header_txt{
   color: #ffffff;
   flex-grow: 5;
   padding-left: 160px;
}
.header_txt span{
    color: #ff4500;
}
.header_img{
    flex-grow: 1;
}
.header_img img{
    padding: 7px 0 0 0;
    width: 30px;
}
nav, .header_info, #main_companyInfo, #main_sellingPoint,
#main_companyProfile, #main_overview1_top,
#main_overview1_under, #main_overview2, #main_overview_review,
#cont6, #cont7, #cont8,#cont9,
#cont10{
    padding: 0 160px 0 160px;
}
.header_info{
    width: 100%;
    display: flex;
    align-items: center;
    height:100px;
    background-color: #ffffff;
}
.header_info_txt:nth-child(1){
    font-size: 40px;
    flex-grow: 10;
}
.header_info_txt:nth-child(2),.header_info_txt:nth-child(3){
    flex-grow: 1;
}
.header_info_txt:nth-child(2){
    padding:0 0 0 -50px;
}
.header_info_txt_color{
    color: #a9a9a9;
}
nav{
    display: flex;
    margin: 0 0 -100px 0;
}
.nav_menubar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    font-weight: bold;
    color: #ffffff;
}
.nav_menubar:nth-child(1){
    width: 73%;
    background-color: #000000;
    margin: -5px 0 0 0;
}
li{
    display: inline;
    margin: 0 20px 0 20px;
}
.nav_menubar:nth-child(2){
    width: 25%;
    margin: -5px 0 0 10px;
    background-color: #ff4500;
}
.nav_menubar:nth-child(2) .nav_menubar_color{
    padding: 0 0 0 10px;
    font-size: 22px;
    font-weight: normal;
}
#main_companyInfo{
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0 0 0;
    background-color: #808080;
    height: 700px;
}
.main_companyInfo_txt1, .main_companyInfo_txt2, .main_companyInfo_txt3, .main_companyInfo_img{
    width: 100%;
    text-align: center;
}
.main_companyInfo_txt1{
    color: #ffffff;
    font-size: 80px;
}
.main_companyInfo_txt2{
    font-size: 40px;
    color: #ffffff;
}
.main_companyInfo_txt3{
    margin: -60px 0 0 0;
    font-size: 18px;
    color: #ffffff;
}
.main_companyInfo_img{
    margin: -80px 0 0 0;
}
.main_companyInfo_img img{
    width: 50px;
    margin: 0 10px 0 10px;
}
#main_sellingPoint{
    flex-wrap: wrap;
    background-color: #e6e6e6;
}
.main_sellingPoint_box{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-top: 8px solid #ff4500;
}
.main_sellingPoint_box:nth-child(1), .main_sellingPoint_box:nth-child(2),
.main_sellingPoint_box:nth-child(3){
    padding: 45px 0 50px 0;
}
.main_sellingPoint_box img{
    width: 25%;
}
.main_sellingPoint_box span{
    font-size: 15px;
    font-weight: bold;
}
.main_sellingPoint_box .color{
    font-size: 20px;
    color: #ff4500;
}
.main_sellingPoint_box:nth-child(1){
    margin: -8px 15px 0 0;
}
.main_sellingPoint_box:nth-child(2){
    margin: -8px 15px 0 15px;
}
.main_sellingPoint_box:nth-child(3){
    margin: -8px 0 0 15px;
}
.main_sellingPoint_txt{
    width: 100%;
    margin: 40px 0 60px 0;
    text-align: center;
}
.main_sellingPoint_txt span{
    color: #dc143c;
    font-weight: bold;
    border-bottom: 1px solid #dc143c;
}
#main_companyProfile, #main_overview2, #cont9{
    margin: 50px 0 50px 0;
}
#main_sellingPoint, #main_companyProfile, .main_companyProfile_left, .main_companyProfile_right_box,
#main_overview2, .main_overview2_left, .main_overview2_right,
#main_overview_review, #cont6, #cont7, #cont8, #cont9, #cont10{
    display: flex;
}
.main_companyProfile_left, .main_overview2_left{
    flex-wrap: wrap;
    width: 65%;
}
.main_companyProfile_left_box:nth-child(1),
.main_overview2_left_box:nth-child(1){
    width: 10%;
    padding: 5px 0 0 0;
    color: #ff4500;
    font-size: 40px;
}
.main_companyProfile_left_box:nth-child(2){
    width: 90%;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    line-height: 30px;
    font-size: 14px;
}
.bigFont{
    font-size: 30px;
    font-weight: bold;
}
.main_companyProfile_left_box:nth-child(3),
.main_companyProfile_left_box:nth-child(4),
.main_companyProfile_left_box:nth-child(6){
    width: 50%;
    margin: 0 -70px 20px 0;
    line-height: 25px;
}
.main_companyProfile_left_box:nth-child(5){
   width: 50%;
    margin: -45px -70px 15px 0;
    line-height: 25px; 
} 
.orange_color, .font_bold{
    font-size: 15px;
    font-weight: bold;
}
.orange_color{
   color: #ff4500;
}
.main_companyProfile_right_box, .main_overview2_right{
    width: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_companyProfile_right_box img, .main_overview2_right img{
    width: 70%;
}
#main_overview1_top{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    background-color: #282828;
}
.main_overview1_top_box:nth-child(1){
    color: #ff4500;
    font-size: 40px;
}
.main_overview1_top_box:nth-child(2){
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 0 25px;
}
.main_overview1_top_box:nth-child(3){
    width: 40%;
    font-size: 14px;
    line-height: 30px;
    padding: 30px 0 0 0;
}
.main_overview1_top_box:nth-child(2), .main_overview1_top_box:nth-child(3){
    color: #ffffff;
}
#main_overview1_under{
    display: flex;
    padding-top: 75px;
    padding-bottom: 100px;
    background-color: #484848;
}
.main_overview1_under_box{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 7px 7px;
    padding: 30px 0 30px 0;
}
.main_overview1_under_box img{
    width: 25%;
}
.main_overview1_under_box span{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.main_overview1_under_box:nth-child(1){
    width: 25%;
    margin:0 15px 0 0;
}
.main_overview1_under_box:nth-child(2), .main_overview1_under_box:nth-child(3){
    width: 25%;
    margin:0 15px 0 15px;
}
.main_overview1_under_box:nth-child(4){
    width: 25%;
    margin:0 0 0 15px;
}
.main_overview2_left_box:nth-child(2){
    padding: 15px 0 0 0;
    line-height: 35px;
    font-size: 30px;
    font-weight: bold;
}
.main_overview2_left_box:nth-child(3){
    width: 100%;
    margin: 30px 0 30px 0;
    line-height: 30px;
    font-size: 14px;
}
.main_overview2_left_box:nth-child(4),
.main_overview2_left_box:nth-child(5){
    width: 50%;
    margin: 0 -70px 20px 0;
    line-height: 25px;
    text-align: center;
}
#main_overview2 .font_bold{
    margin: 10px;
    font-size: 18px;
}
#main_overview_review, #cont10{
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: #000000;
}
.cont5box:nth-child(1){
    color: #ff4500;
    font-size: 40px;
}
.cont5box:nth-child(2){
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 0 25px;
}
.cont5box:nth-child(3){
    width: 43%;
    line-height: 30px;
    font-size: 14px;
    padding: 30px 0 0 0;
}
.cont5box:nth-child(4), .cont5box:nth-child(5){
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
    display: inline-block;
    color: #bfbfbf;
    line-height: 30px;
}
.cont5box:nth-child(5) .font_bold{
    color: #ffffff;
}
.cont5box img{
    width: 30%;
}
.obFont{
    font-size: 14px;
    font-style: oblique;
}
#cont6{
    background-color: #e7e7eb;
}
.cont6box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}
.cont6box:nth-child(1){
    width: 55%;
}
.cont6box:nth-child(2){
    width: 45%;
    padding-left: 40px;
    display: inline-block;
    background-color: #eaf4fc; 
}
.cont6sub{
    width: 100%;
    margin: 0px 30px 20px 0;
}
.cont6sub:nth-child(1){
    font-weight: bold;
    font-size: 30px;
}
.cont6sub:nth-child(2){
    padding: 25px;
    line-height: 30px;
    border-left: 6px solid #ff4500;
    background-color: #ffffff;
}
.cont6sub:nth-child(2) .font_bold{
    font-size: 16px;
}
.cont6sub:nth-child(2) .border{
    border-bottom: 1px solid #000000;
}
.cont6sub select{
    width: 100%;
    margin:10px 0 10px 0;
    padding: 10px;
    height: 75px;
    font-size: 18px;
    font-weight: bold;
}
.cont6box:nth-child(2) .font_bold{
    font-size: 30px;
}
.cont6box input{
    width: 90%;
    height: 40px;
    margin: 15px 0 15px 0;
}
.cont6box:nth-child(2) select{
    width: 91%;
    height: 45px;
    margin: 15px 0 15px 0;
}
.cont6box:nth-child(2) .cont6submit{
    width: 91%;
    height: 45px;
    margin: 15px 0 15px 0;
    border-radius: 8px 8px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff4500;
}
#cont7{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0 140px 0;
}
#cont7 .cont5box:nth-child(3){
    width: 43%;
    line-height: 30px;
    font-size: 13px;
    padding: 30px 0 0 0;
}
.cont7box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    height: 300px;
    border-radius: 7px 7px;
}
.cont7box:nth-child(4){
    margin: 50px 10px 0 0;
    background-color: #ffadad;
}
.cont7box:nth-child(5){
    margin: 50px 10px 0 10px;
    background-color: #d6adff;
}
.cont7box:nth-child(6){
    margin: 50px 10px 0 10px;
    background-color: #add6ff;
}
.cont7box:nth-child(7){
    margin: 50px 0 0 10px;
    background-color: #d6ffad;
}
.cont7box2{
    width: 180px;
    margin: 300px 0 0 0;
    padding: 20px 0 20px 0;
    text-align: center;
    border-radius: 7px 7px;
    background-color: #eeeeee;
}
.cont7box2 b{
    font-size: 16px;
}
#cont8{
    background-color: #000000;
    color: #ffffff;
}
#cont8 .cont5box, .cont8box{
    margin: 60px 0 60px 0;
}
.cont8box img{
    width: 13%;
}
.cont8box:nth-child(2){
    width: 80%;
    padding: 15px 0 0 25px;
    line-height: 30px;
    font-size: 14px;
}
.cont8box:nth-child(3){
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.cont8top, .cont8under{
    display: flex;
    width: 100%;
    text-align: center;
}
.cont8sub1, .cont8sub2{
    border-radius: 50%;
    border: 1px solid #808080;
    background-color: #404040;
}
.cont8sub1:nth-child(1), .cont8sub2:nth-child(2){
    width: 110px;
    height: 90px;
}
.cont8sub1:nth-child(2), .cont8sub2:nth-child(1){
    width: 150px;
    height: 110px;
    padding: 40px 0 0 0;
}
.cont8sub1:nth-child(1){
    margin: 10px 15px 0 50px;
    padding: 20px 0 0 0;
}
.cont8sub2:nth-child(1){
    margin: -20px 0 0 0;
}
.cont8sub2:nth-child(2){
    margin: 10px 0 0 15px;
    padding: 20px 0 0 0;
}
.cont8sub1 b, .cont8sub2 b{
    font-size: 18px;
}
#cont9{
    flex-wrap: wrap;
}
#cont9 .cont5box:nth-child(3),
#cont10 .cont5box:nth-child(3){
    font-size: 13px;
}
.cont9box{
    text-align: center;
    width: 100%;
}
.cont9box:nth-child(4){
    margin: 30px 0 30px 0;
}
.cont9box ul{
    font-weight: bold;
}
.cont9box li:nth-child(1){
    padding: 2px 12px 2px 12px;
    border-radius: 5px 5px;
    color: #ffffff;
    background-color: #ff4500;
}
.cont9box:nth-child(5){
    display: flex;
    flex-wrap: wrap;
}
.cont9sub{
    width: 23%;
    height: 230px;
    border-radius: 7px 7px;
    background-color: red;
}
.cont9sub:nth-child(1), .cont9sub:nth-child(5){
    margin: 0 10px 40px 0;
}
.cont9sub:nth-child(2), .cont9sub:nth-child(3),
.cont9sub:nth-child(6), .cont9sub:nth-child(7){
    margin: 0 10px 0 10px;
}
.cont9sub:nth-child(4), .cont9sub:nth-child(8){
    margin: 0 0 0 10px;
}
.cont9sub:nth-child(1), .cont9sub:nth-child(8){
    background-color: #ffadad;
}
.cont9sub:nth-child(2), .cont9sub:nth-child(7){
    background-color: #d6adff;
}
.cont9sub:nth-child(3), .cont9sub:nth-child(6){
    background-color: #add6ff;
}
.cont9sub:nth-child(4), .cont9sub:nth-child(5){
    background-color: #d6ffad;
}
.cont9box:nth-child(6){
    margin: 0 400px 0 400px;
    padding: 15px 0 15px 0;
    border-radius: 5px 5px;
    color: #ffffff;
    background-color: #ff4500;
}
#cont10{
    flex-wrap: wrap;
}
.cont10box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.cont10sub1{
    display: flex;
    width: 100%;
    line-height: 25px; 
    color: #bfbfbf;
}
.cont10sub1 img{
    width: 25px;
    height: 25px;
    margin: 7px 30px 0 0;
    padding: 10px;
    border: 1px solid #808080;
    background-color: #404040;
}
.cont10sub1 b{    
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}
.cont10sub1:nth-child(1){
    padding: 50px 0 30px 65px;
}
.cont10sub1:nth-child(2), .cont10sub1:nth-child(3){
    padding: 0 0 30px 65px;
}
.cont10sub2{
    padding: 30px 0 0px 35px;
}
.cont10sub2 input{
    width: 44%;
    height: 35px;
    margin: 0 10px 20px 10px;
    border: 1px solid #808080;
    background-color: #404040;
}
.cont10sub2 textarea{
    width: 420px;
    height: 120px;
    margin: 0 0 20px 10px;
    border: 1px solid #808080;
    background-color: #404040;
}
.cont10sub2 .cont10submit{
    width: 425px;
    height: 40px;
    border-radius: 5px 5px;
    color: #ffffff;
    background-color: #ff4500;
}