*{
    margin: 0;
}

/*header*/
.header-1{
    background-color: #383838;
    height: 3.1vw;
    display:flex;
    align-items: center;
}
.header-1 p{
    color: white;
    font-size: 1vw;
    margin-left:15vw;
}
.first-span{
    color:#B9292B;
}
.social-icons{
    display: flex;
    margin-right: 210px;
    margin-left:auto;
}
.icons{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fa-facebook-f{
    color: #3C5998;
}
.fa-twitter{
    color: #54ACED;
}
.fa-linkedin-in{
    color: #6FADD3;
}
.fa-pinterest{
    color: #BE0B1F;
}

.header-2{
    background-color: #FFFFFF;
    height: 115px;
    display: flex;
    align-items: center;
}
.header-content{
    display: flex;
    margin-right: 210px;
    margin-left:auto;
    font-size: 10px;
}
.main-icon img{
    margin-left: 210px;
    width:225px;
}
.call-box{
    display: flex;
    margin-right: 35px;
}
.call-box img{
    width: 35px;
}
.map-box{
    display: flex;
    padding-left: 35px;
    border-left:1px solid #C0C0C0;
}
.map-box img{
    width: 35px;
}
.top-wrapper{
    display: flex;
    justify-content: center; 
}
nav{
    overflow: hidden;
    background-color: #0F0F0F;
    height: 75px;
    width: 790px; 
}
nav ul{
    margin-left: 40px;
}
nav li{
   list-style: none; 
   float: left;
   padding-right: 35px;
}
nav li a{
    color: white;
    text-decoration: none;
    line-height: 75px;
    font-size: 13px;
    font-weight:bolder;
}
/*main*/

/*about-work*/
.about-work{
    height: 1300px;
}

/*about-work-first-wrapper*/
.about-work-group{
    height: 750px;
    background-image:url(training_img/samson-ZGjbiukp_-A-unsplash.jpg) ;
    background-size: cover;
}
.about-work-first-wrapper{
    display: flex;
    justify-content: center;
}
.about-work-first-wrapper-btn{
    display: inline-block;
    text-align: center;
    line-height: 75px;
    height: 75px;
    width: 210px;
    background-image:linear-gradient(90deg,#D16519,#C83E24);
    color: white;
    margin-left: 10px;
    font-size: 13px;
    font-weight:bolder;
}

/*about-work-second-wrapper*/
.about-work-second-wrapper{
    text-align: center;
    margin-top: 80px;
}
.about-work-second-wrapper img{
    width: 135px;
    height: 135px;
}
.about-work-second-wrapper-p{
    font-size: 23px;
    color: white;
    margin:10px 0 30px 0;
}
.about-work-second-wrapper-p p{
    padding-top: 10px;
}
.about-work-btns{
    display: flex;
    justify-content: center;
}
.about-work-btns-first{
    display: inline-block;
    text-align: center;
    line-height:45px;
    width: 50px;
    height: 50px;
    background-image:linear-gradient(90deg,#D16519,#C83E24);
    border-radius: 50%;
    margin-right: 25px;
}
.about-work-btns-first i{
    font-size: 5px;
    color: white;
}
.about-work-btns-second{
    display: inline-block;
    text-align: center;
    line-height:50px;
    height:50px;
    width: 180px;
    background-image:linear-gradient(90deg,#D16519,#C83E24);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
}
.about-work-btns-second i{
    padding-right:5px;
}

/*about-work-third-wapper*/
.about-work-third-wrapper{
    height: 550px;
    background-color: #F5F3F3;
}
.about-work-third-wrapper-btn{
    display: flex;
    margin-right: 225px;
}
.about-work-third-wrapper-btn-1{
    position: absolute;
    left: 225px;
    margin-top: 140px;
    z-index: 2;
}
.about-work-third-wrapper-btn-2{
    position: absolute;
    left: 1175px;
    margin-top: 140px;
    z-index: 2;
}
.common-btn{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #303030;
    box-shadow:0 0 20px rgb(196, 196, 196);
}
.about-work-third-wrapper-section{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.about-work-third-wrapper-section-content{
    background-color: #FFFFFF;
    height: 330px;
    width: 280px;
    text-align: center;
    border-top:7px solid ;
    border-image:linear-gradient(90deg,#D16519,#C83E24);
    border-image-slice: 1;
    margin: -7px 0 0 0 ;
    box-shadow:0 0 30px rgb(196, 196, 196);
}
.center{
    margin:-7px 55px 0 55px;
}
.about-work-third-wrapper-section-content img{
    width: 70px;
    padding:50px 0 15px 0;
}
.lines{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.lines1{
    height:2px; 
    width: 12px; 
    background:#D16519;
    margin-right: 3px;
    border: none;
}
.lines2{
    height:2px; 
    width: 40px; 
    background:#D16519;
    margin-right: 3px;
    border: none;
}
.about-work-third-wrapper-section-content p{
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
    line-height: 2;
}
.about-work-third-wrapper-p{
    font-weight: lighter;
    font-size: 15px;
    opacity: 0.8;
    line-height: 2;
    text-align: center;
    margin-top: 70px;
}
.about-work-third-wrapper-p a{
    color: #C53333;
}

/*about-consultant*/
.about-consultant{
    height: 700px;
    background-color: #FFFFFF;
    display: flex;
    margin-left: 245px;
}
.about-consultant-content{
    margin-top: 80px;
}
.common-intro-sentence1{
    display: flex;
}
.line3{
    height:2px; 
    width: 50px; 
    background:linear-gradient(90deg,#D16519,#C83E24);
    margin-right: 3px;
    border: none;
    margin:18px 25px 0 0;
}
.common-intro-sentence1 h4{
    font-size: 28px;
    font-weight: bolder;
}
.common-intro-sentence1 p{
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
    line-height: 2;
    margin: 30px 0;
}
.about-consultant-details{
    display: flex;
}
.about-consultant-detail1{
    margin-right: 25px;
}
.fa-angle-double-right{
    color:#D16519;
   padding-top: 5px;
   padding-right: 5px;
}
.common-consultant-details{
    display: flex;
    margin-bottom: 10px;
}
.common-consultant-details p{
    font-weight: bolder;
    font-size: 15px;
}
.common-wrapper-p{
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
    line-height: 2;
}
.about-consultant-img{
    margin:80px 245px 0 auto;
}
.about-consultant-img img{
    width: 400px;
}
.about-consultant-detail1-second-wrapper{
    margin-top: 30px;
}
.about-contsultant-datail2-second-wrapper{
    margin-top: 30px;
}

/*about-business*/
.about-business{
    height: 650px;
    background-image: url(training_img/bg.img.jpg);
    background-size: cover;
}

.common-intro-sentence2{
    display: flex;
    margin-left: 245px;
    padding-top: 80px;
}
.common-intro-sentence2-detail{
    display: flex;

}
.common-intro-sentence2 h4{
    color: white;
    font-size: 28px;
    font-weight: bolder;
    margin-right: 50px;
}
.common-intro-sentence2 p{
    color: white;
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
    line-height: 2;
    margin: 30px 0;
}
.about-business-contents{
    display: flex;
    margin-left: 225px;
    margin-top: 50px;
}
.about-business-content{
    background-color: #FFFFFF;
    height: 260px;
    width: 240px;
    text-align: center;
    border-radius: 5px;
    padding-top: 30px;
    margin-left: 20px;
}
.about-business-content img{
    width: 60px;
}
.about-business-content h4{
    padding-top: 10px;
}
.about-business-content p{
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
    line-height: 2;
    padding-top: 20px;
}
/*about-network*/
.about-network{
    height: 650px;
    background-color: #FFFFFF;
    display: flex;
}
.about-network-content{
    margin-left: 245px;
    margin-top: 75px;
}
.about-network-pie-charts{
   display: flex;
   text-align: center;
}
.chart1{
    margin-right: 40px;
}
.chart2{
    margin-top: 15px;
}
.about-network-pie-chart h4{
    font-size: 15px;
    font-weight: bolder;
}
.about-network-pie-chart p{
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
    line-height: 2;
}
.about-network-img{
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: 175px;
    margin-top: 75px;
}