/* -- PC -- */

@media screen and (min-width: 750px) {
  body {
    width: 100%;
  }

  /* -- header -- */

  header {
    width: 100%;
    position: absolute;
  }

  .header_wrapper {
    width: 1366px;
    margin: 0 auto;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-left: 145px;
  }

  .logo h1 {
    font-family: "Poiret One";
    font-size: 37px;
    color: #ffffff;
  }

  .logo p {
    font-family: "Alex Brush";
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }

  .top_nav {
    margin-right: 179px;
  }

  .nav_item {
    margin-left: 63px;
    color: #ffffff;
  }

  .nav_items {
    display: flex;
  }

  /* -- main -- */

  main {
    background-image: url(./images/main_image.png);
    background-size: cover;
    background-position: center;
    height: 1034px;
  }

  .main_title {
    background-color: #3fb9dc;
    width: 612px;
    height: 190px;
    position: relative;
    top: 285px;
  }

  .main_title p {
    color: white;
  }

  .main_name {
    font-size: 35px;
    position: relative;
    top: 27px;
    left: 200px;
  }

  .main_sub_name {
    font-size: 35px;
    position: relative;
    top: 27px;
    left: 200px;
  }

  .sub_title {
    font-family: "Alex Brush";
    font-size: 30px;
    position: relative;
    top: 22px;
    left: 320px;
  }

  /* -- Whta's New -- */

  #new {
    background-color: #daeafd;
  }

  .new_wrapper {
    width: 100%;
    margin: 0 auto;
    height: 600px;
  }

  .new_title {
    text-align: center;
    font-family: "Nunito";
    font-size: 35px;
    color: #2bc1f8;
    padding-top: 62px;
  }

  .new_content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .notice {
    margin-left: 86px;
  }

  .date {
    display: flex;
  }

  .day {
    font-family: "Lato";
    font-size: 18px;
    color: #707070;
    font-weight: lighter;
    margin-right: 20px;
  }

  dt:nth-child(n + 2) {
    margin-top: 30px;
  }

  .content_name_box {
    text-align: center;
    width: 104px;
    height: 24px;
    background-color: #5ea709;
  }

  .content_name {
    font-family: "Lato";
    font-size: 15px;
    color: #ffffff;
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
  }

  .content_title {
    font-family: "Kozuka Gothic Pr6N";
    font-size: 20px;
    margin-top: 14px;
  }

  .new_button {
    display: flex;
    align-items: flex-end;
  }

  .view_button button {
    background-color: #2bc1f8;
    width: 240px;
    height: 57px;
    text-align: center;
  }

  .view_button button a {
    font-family: "Lato";
    font-size: 18px;
    color: #ffffff;
  }

  /* -- Instagram -- */

  .instagram {
    background-image: url(./images/insta.png);
    background-size: cover;
    background-position: center;
    height: auto;
  }

  .insta_wrapper {
    width: 100%;
    padding-bottom: 40px;
  }

  .insta_title {
    text-align: center;
    font-family: "Nunito";
    font-size: 35px;
    color: #ffffff;
    padding-top: 60px;
  }

  .insta_image {
    margin-top: 37px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 260px);
    gap: 80px;
  }

  .image_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* -- Youtube -- */

  .youtube {
    background-color: #daeafd;
  }

  .youtube_wrapper {
    width: 840px;
    margin: 0 auto;
  }

  .youtube_images {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .youtube_logo {
    position: absolute;
    top: 250px;
    left: 30%;
  }

  /* -- Profile -- */

  #profile {
    background-image: url(./images/profile.png);
    background-size: cover;
    background-position: center;
    height: 406px;
  }

  .profile_wrapper {
    width: 60%;
    margin-left: 100px;
    padding-top: 90px;
    text-align: center;
  }

  .profile_title {
    color: #ffffff;
    font-family: "Lora";
    font-size: 35px;
  }

  .profile_name {
    color: #ffffff;
    font-family: "Meiryo";
    font-size: 35px;
    padding: 20px 0;
  }

  .profile_button {
    padding-bottom: 90px;
  }

  /* -- powered by -- */

  .powered {
    background-color: #2bc1f8;
    height: 280px;
  }

  .powered_wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 55px;
  }

  .powered_title {
    color: #ffffff;
    font-family: "Lora";
    font-size: 35px;
    padding-top: 50px;
  }

  .powered_list {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  .back_white_box {
    width: 250px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* -- footer -- */

  footer {
    background-image: url(./images/insta.png);
    background-size: cover;
    background-position: center;
    height: auto;
  }

  .footer_wrapper {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer_name_container {
    padding-top: 180px;
    text-align: center;
  }

  .footer_name {
    font-family: "Poiret One";
    font-size: 50px;
    color: #ffffff;
  }

  .footer_subname {
    font-family: "Alex Brush";
    font-size: 24px;
    color: #ffffff;
  }

  .footer_nav_container {
    display: flex;
    padding-top: 40px;
  }

  .footer_list {
    display: flex;
    justify-content: center;
  }

  .footer_list li {
    margin: 0 30px;
  }

  .footer_list li a {
    color: #ffffff;
  }

  .footer_icon_container {
    padding-top: 130px;
    display: flex;
    justify-content: center;
  }

  .icons {
    display: flex;
    align-content: space-between;
  }

  .icon_item:nth-child(2) {
    padding: 0 40px;
  }

  .copy_right p {
    margin-top: 60px;
    color: #ffffff;
  }
}

/* -- SP -- */

@media screen and (max-width: 750px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    background-color: rgb(66, 66, 66, 0.5);
    position: absolute;
  }

  .header_wrapper {
    height: 117px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-top: 27px;
    padding-left: 5%;
  }

  .logo h1 {
    font-family: "Poiret One";
    font-size: 37px;
    color: #ffffff;
  }

  .logo p {
    font-family: "Alex Brush";
    font-size: 18px;
    color: #ffffff;
  }

  .nav_items {
    display: none;
  }

  /* ハンバーガーメニュー */

  .sp_nav_button {
    position: relative; /*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
    width: 71px;
    height: 71px;
    margin-right: 36px;
    margin-top: 10px;
  }

  .sp_nav_button span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    height: 4.5px;
    border-radius: 2px;
    background: #fff;
    width: 100%;
  }

  .openbtn3 span:nth-of-type(1) {
    top: 15px;
  }

  .openbtn3 span:nth-of-type(2) {
    top: 38px;
  }

  .openbtn3 span:nth-of-type(3) {
    top: 60px;
  }

  /* -- main -- */

  main {
    background-image: url(./images/main_image.png);
    background-size: cover;
    background-position: center;
    height: 698px;
  }

  .main_title {
    background-color: rgb(43, 193, 248, 0.7);
    width: 60%;
    height: 190px;
    position: relative;
    top: 300px;
  }

  .main_title p {
    color: white;
  }

  .main_name {
    font-size: 35px;
    position: relative;
    top: 40px;
    left: 20%;
  }

  .main_sub_name {
    font-size: 35px;
    position: relative;
    top: 32px;
    left: 20%;
  }

  .sub_title {
    font-family: "Alex Brush";
    font-size: 30px;
    position: relative;
    top: 27px;
    left: 50%;
  }

  /* -- Whta's New -- */

  #new {
    background-color: #daeafd;
  }

  .new_wrapper {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .new_title {
    text-align: center;
    font-family: "Nunito";
    font-size: 40px;
    color: #2bc1f8;
    padding-top: 62px;
  }

  .new_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
  }

  .new_image,
  .new_image img {
    width: 100%;
  }

  .notice {
    width: 60%;
    margin-top: 70px;
    margin-right: auto;
  }

  .date {
    display: flex;
  }

  .day {
    font-family: "Lato";
    font-size: 28px;
    color: #707070;
    font-weight: lighter;
    margin-right: 40px;
  }

  dt:nth-child(n + 2) {
    margin-top: 30px;
  }

  .content_name_box {
    position: relative;
    text-align: center;
    width: 170px;
    height: 40px;
    background-color: #5ea709;
  }

  .content_name_box .content_name {
    font-family: "Lato";
    font-size: 24px;
    color: #ffffff;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .content_title {
    font-family: "Kozuka Gothic Pr6N";
    font-size: 28px;
    margin-top: 14px;
  }

  .new_button {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
  }

  .view_button button {
    background-color: #2bc1f8;
    width: 350px;
    height: 83px;
    text-align: center;
  }

  .view_button button a {
    font-family: "Lato";
    font-size: 29px;
    color: #ffffff;
  }

  /* -- Instagram -- */

  .instagram {
    background-image: url(./images/insta.png);
    background-size: cover;
    background-position: center;
    height: auto;
  }

  .insta_wrapper {
    width: 100%;
    padding-bottom: 110px;
  }

  .insta_title {
    text-align: center;
    font-family: "Nunito";
    font-size: 40px;
    color: #ffffff;
    padding-top: 60px;
  }

  .insta_image {
    margin-top: 65px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 60px;
  }

  .image_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* -- Youtube -- */

  .youtube {
    background-color: #daeafd;
  }

  .youtube_wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .youtube_images {
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .youtube_images img {
    width: 375px;
  }

  .youtube_logo {
    position: absolute;
    top: 250px;
    left: 30%;
    width: 246px;
  }

  /* -- Profile -- */

  #profile {
    background-image: url(./images/profile.png);
    background-size: cover;
    background-position: center;
    height: auto;
  }

  .profile_wrapper {
    width: 60%;
    margin-left: 5%;
    padding-top: 90px;
    text-align: center;
  }

  .profile_title {
    color: #ffffff;
    font-family: "Lora";
    font-size: 35px;
  }

  .profile_name {
    color: #ffffff;
    font-family: "Meiryo";
    font-size: 35px;
    padding: 20px 0;
  }

  .profile_button {
    padding-bottom: 90px;
  }

  /* -- powered by -- */

  .powered {
    background-color: #2bc1f8;
    height: auto;
  }

  .powered_wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 55px;
  }

  .powered_title {
    color: #ffffff;
    font-family: "Lora";
    font-size: 35px;
    padding-top: 50px;
  }

  .powered_list {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 44px;
    justify-content: center;
    margin-top: 40px;
  }

  .back_white_box {
    width: 250px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* -- footer -- */

  footer {
    background-image: url(./images/insta.png);
    background-size: cover;
    background-position: center;
    height: auto;
  }

  .footer_wrapper {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer_name_container {
    padding-top: 180px;
    text-align: center;
  }

  .footer_name {
    font-family: "Poiret One";
    font-size: 50px;
    color: #ffffff;
  }

  .footer_subname {
    font-family: "Alex Brush";
    font-size: 24px;
    color: #ffffff;
  }

  .footer_nav_container {
    display: flex;
    padding-top: 40px;
  }

  .footer_list {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }

  .footer_list li {
    margin: 0 30px;
  }

  .footer_list li a {
    color: #ffffff;
    font-size: 24px;
  }

  .footer_icon_container {
    padding-top: 130px;
    display: flex;
    justify-content: center;
  }

  .icons {
    display: flex;
    align-content: space-between;
    align-items: center;
  }

  .icon_item:nth-child(2) {
    padding: 0 60px;
  }

  * {
    float: none;
    position: static;
  }

  .icon_item a img {
    width: 47px;
    height: auto;
  }

  .copy_right p {
    margin-top: 60px;
    color: #ffffff;
  }
}
